/* Write your custom CSS here */

.td-image{
    max-height: 100px;
    width: auto;
}
.form-show-image{
    max-height: 200px;
    width: 100%;
}

.book_room_cat_image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    max-height: 150px;
}